.container {
  margin-top: 10%;
}

.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 220%;
  background: rgba(4, 9, 255, 0.5);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: .2s;
}

.card:hover::before {
  left: 10%;
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: .5s;
}

.car-text h3 {
  font-family: poppins;
}

.card:hover .card-text {
  top: 35px;
}
