* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper i {
    padding: 8px 20px;
    border-radius: 28% 72% 30% 90% / 46% 31% 69% 54%;
    border: 2px solid deepskyblue;
    color: deepskyblue;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 2s;
}

.wrapper:hover i {
    opacity: .5;
}

.wrapper i:hover {
    opacity: 1;
    color: #fff;
    background: deepskyblue;
    box-shadow: 0 5px 50px 0 deepskyblue inset,
                0 5px 50px 0 deepskyblue,
                0 5px 50px 0 deepskyblue inset,
                0 5px 50px 0 deepskyblue;
    text-shadow: 0 0 5px deepskyblue,
                 0 0 5px deepskyblue,
                 0 0 5px deepskyblue,
                 0 0 5px deepskyblue;
}
